<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.munchies">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LowCalRecipeInstructions"></activity>
        <activity android:name=".LowCalRecipeActivity" />
        <activity android:name=".KetoRecipeInstructions" />
        <activity android:name=".KetoRecipeActivity" />
        <activity android:name=".VeganRecipeInstructions" />
        <activity android:name=".VeganRecipeActivity" />
        <activity android:name=".AllRecipeInstructions" />
        <activity android:name=".AllRecipeActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB__t6Q7aId_6SGJ-_aee_9l3lxOMUMqd0" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".MapActivity" />
        <activity android:name=".RecipeTypeActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".InputActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>